html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

form{
    display: inline-block;
}

#pagenavigation{
    display:grid;
    place-items:center


}