html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
}

form{
    display: inline-block;
}


#websiteheader{
    display:grid;
    place-items:center;
}

#pagenavigation{
    display:grid;
    place-items:center;
}

#pagenavigation.ul{
    text-align:start;
    text-size-adjust: smaller;

}