


form{
    display: inline-block;
}
html{
    background-size:cover;
    background-image: url("https://wallpapercave.com/wp/8cEpZrx.jpg")

}

/*heading and navigation */
#websiteheader{
    text-align: center;
    color:whitesmoke;


}

#pagenavigation{
    display: flex;
    justify-content: center;

}

.pagenavigationtxt{
    text-size-adjust: 60%;
    text-align:start;
    line-height:200%;
    font-weight: bold;
    color:aqua;


}

/*content */

body {
    margin-left:auto;
    margin-right:auto;
    width: 50em
    
    

}
p.content{
    text-align:left;
    color: white;


}

h1{
    color:aqua
}

img{
    width: 400px

}